.page-header__logo {
    display: inline-block;
    margin-top: 8.2px;
    margin-right: 62px;
    fill: var(--primary-text-color);
    @include mq(desktop) {}
}
.mobile-logo {
    width: 190px; 
    height: 85px;
    fill: var(--primary-text-color);
    margin-top: 25px; 
    margin-bottom: 40px;
}