.menu-toggle {
    min-height: 18px;
    min-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
     background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &:hover,
    &:focus {
        fill: var(--hover-text-color);
    }
}
.js-open-menu {
    @include mq (tablet) {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--transparent-color);
    backdrop-filter: blur(4px);
    text-align: center;
    transform: translate(100%);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        transform: translateX(0);
        opacity: 1;
    }

    @include mq(tablet) {
        display: none;
    }
}
.menu-toggle {
    color: var(--primary-text-color);
    }
.menu-container .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--primary-text-color);
}

/*Стилизация меню*/
.menu__nav-link {
    @include fonts(500, 24px, 1.21);
    color: var(--primary-text-color);
    &:hover {
        color: var(--accent-text-color);
    }
}
.menu__nav-item:not(:last-child) {
    margin-bottom: 45px;
}

.mobile-menu {
    text-align: center;
}