:root {
    --primary-text-color: #2E2520;
    --white-color: #FFFFFF;
    --accent-text-color: #AB816C;
    --hover-text-color: #876655;
    
    --primary-bg-color: #FEF3E4;
    --transparent-color: rgba(171, 129, 108, 0.5);
}