.feature {
    justify-content: center;
    
    @include mq(desktop) {
        padding-bottom: 0;
    }

    &__list {
        @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include mq(tablet-only) {
            flex-basis: calc((100% - 30px) / 2);
        }
        @include mq(desktop) {
            flex-basis: calc((100% - 30px*3) / 4);
        }
    }    
    
    @include mq(mobile-only) {
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq(tablet-only) {
        &__item:nth-child(2n+1) {
            margin-right: 30px;
        }
        &__item:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }

    @include mq(desktop) {
        &__item:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__description {
        color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.71;
    }
    
    &__title {
        margin-bottom: 10px;
    }
    
    &__icons {
        display: flex;
        height: 120px;
        background-color: var(--title-bg-color);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

.feature__list .feature__title {
    @include fonts(700, 14px, 1.14, 0.03em, uppercase);

    @include mq(mobile-only) {
        text-align: center;
    }
}