.page-header {
    position: relative;

    color: var(--primary-bg-color);
    max-width: 1600px;
    height: 460.51px;
    margin-left: auto;
    margin-right: auto;

    background-image: url(../images/donuts/1.png), url(../images/donuts/2.png),
            url(../images/donuts/3.png), url(../images/donuts/4.png),
            url(../images/donuts/5.png), url(../images/donuts/6.png),
            url(../images/donuts/7.png), url(../images/donuts/8.png), url(../images/bg.png);
    
        background-size: 63.9px, 35.08px, 68.3px, 44.17px, 34.77px, 29.45px, 59.52px, 28.82, cover;
        background-repeat: no-repeat;
        background-position:
            left -12px top -6.83px,
            left 36.87px top 1.94px,
            left 17.11px top 37.89px,
            left 73.52px top 53.94px,
            left 17.13px top -28.45px,
            left 3.66px top 43.6px,
            left 51.9px top -51px,
            left -8.87px top 63.96px,
            center;
    
    &__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__title {
        margin-top: 30.72px;
        margin-bottom: 8px;
        width: 224px;

        font-family: 'Caveat Brush';
        @include fonts(400, 30px, 1.27);
    }

    &__subtitle {
        margin-bottom: 32px;

        font-family: 'Montserrat';
        @include fonts(500, 16px, 1.25);
    }
}
.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--primary-text-color);
}
.img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.34px;
}

.page-header__img {
    position: relative;
}

.page-header__img--bottom {
    position: absolute;
    bottom: 9.08px;
    left: 83.41px;

}
.page-header__img--top {
    position: absolute;
    left: -12px;
    top: -6.83px;
}
// .site-nav,
// .connection {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     display: none;
// }
// .site-nav {
//     @include mq(tablet) {
//         display: flex;
//     }
// }
// .connection {
//     @include mq(tablet-only) {
//         display: block;
//     }
//     @include mq(desktop) {
//         display: flex;
//     }
// }

// .site-nav__link {
//     color: var(--primary-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

//     &:hover,
//     &:focus {
//         color: var(--accent-text-color);
//     }

//     &.current {
//         color: var(--accent-text-color);
//     }
// }
// .site-nav__link,
// .connection__link {
//     display: block;
//     padding-top: 30px;
//     padding-bottom: 30px;
// }
// .connection__link {
//     @include mq(tablet-only) {
//         padding-top: 0px;
//         padding-bottom: 0px;
//     }
// }
// .connection__icons {
//     display: flex;
//     width: 16px;
//     height: 16px;
//     margin-right: 10px;
// }
// .connection__link {
//     display: flex;
//     justify-content: center;
//     @include mq(tablet-only) {
//         justify-content: flex-start;
//     }
//     align-items: center;
//     color: var(--title-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--accent-text-color);
//     }
// }
// .site-nav__item {
//     position: relative;

//     &:not(:last-child) {
//         margin-right: 50px;
//     }

//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .connection__icons {
//     fill: currentColor;

//     &:hover,
//     &:focus {
//         color: var(--accent-text-color);
//     }
// }
// @include mq(tablet-only) {
//     .connection__item:not(:last-child) {
//         margin-bottom: 10px;
//     }
// }
// @include mq(desktop) {
// .connection__item:not(:last-child) {
//         margin-right: 30px;
//     }
// }