.team {
    background-color: var(--title-bg-color);
    justify-content: center;

    &__list {
        @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.card {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: auto;
    margin-right: auto;

    &__header {
        padding-top: 24px;
        padding-bottom: 24px;
        
        @include mq(desktop) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__name {
        @include fonts(500, 16px, 1.19, 0.03em);
        text-align: center;
        padding-bottom: 10px;
    }

    &__title {
        color: var(--title-text-color);

        font-size: 16px;
        line-height: 1.19;

        text-align: center;
        margin-bottom: 16px;
    }
    
    @include mq(tablet-only) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include mq(desktop) {
        flex-basis: calc((100% - 30px*3) / 4);
    }
}

@include mq(mobile-only) {
    .card:not(:last-child) {
        margin-bottom: 30px;
    }
}

@include mq(tablet-only) {
    .card:nth-child(2n+1) {
        margin-right: 30px;
    }
    .card:nth-child(-n + 2) {
        margin-bottom: 30px;
    }
}

@include mq(desktop) {
    .card:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }
}