.section-work {
    
    @include mq (not-desktop) {
            display: none;
        }
}

.work {
    display: flex;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__title {
    position: absolute;
    content: "";
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: #2F303ACC;
}